* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a{
  text-decoration:none;
}

h1 {
  position: relative;
  left: 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to left, #150409, #a4a2a2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h1:hover{
  background-image: linear-gradient(to left, #960b35, #d3aaaa);
}

.main-page{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  border-bottom: rgba(128, 128, 128, 0.304) solid 0.5px
}

.button-basket{
  cursor: pointer;
}

.button-basket svg{
  fill:black;
  transition: all 0.5s;
}

.button-basket svg:hover{
  fill:rgb(129, 49, 49);
}
.basket-name{
  border: black solid;
}

.search:after {content:""; clear:both; display:table}
.search form {
  width: auto;
  float: right;
}
.search input {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e3f;
  background: #fffefd;
  outline: none;
  position: relative;
  transition: .3s linear;
}

.search input:focus {
  width: 120%;
}

.cards_container{
  width: 95%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

/* container mx-auto max-w-2xl pt-5' */
 .add-red{
  background: rgb(129, 49, 49);
  color: white;
 }

 .add-white{
  background: rgba(170, 154, 154, 0.264);
 }

 .card{
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
  text-align: center;
  margin-bottom: 15px;
  border:rgba(128, 128, 128, 0.304) solid 0.5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
 }
 .btn{
  border-radius: 10px;
  color: black;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn-primary{
  background-color: rgba(170, 154, 154, 0.264);
}
.btn-primary:hover{
  background-color: rgb(129, 49, 49);
}


.btn-secondary{
  background-color: rgb(129, 49, 49);
  color: white;
}

.btn-small{
  font-size: 14px;
}

.btn-medium{
  font-size: 18px;
}



 .btn-class{
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  margin-bottom: 10px;
 }

 .btn-class:hover{
  background: rgb(129, 49, 49);
  color: white;
 }

 .card-image{
  width: 100px;
  height: 130px;
 }

 .font-bold{
  font-weight: bold;
 }


 .clicker{
  display:flex;
  font-size: medium;
  font-weight: 300;
  column-gap: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
 }

 .clicker button{
  border: none;
  outline: none;
  font-size: large;
  background: white;
 }
.grid{
  cursor:pointer;
  fill: #000;
  transition: all 0.5s;
}
 .grid:hover {
  fill:rgb(183, 35, 35);
}


